<h1>Documentary Film List</h1>
<hr>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Director</th>
			<th>Sinopsis</th>
		</tr>
	</thead>
	<tbody>
	<% @df_all.each do |docFilm| %>
		<tr>
			<td><%= docFilm.id %></td>
			<td><%= docFilm.name %></td>
			<td><%= docFilm.director %></td>
			<td><%= docFilm.synopsis %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<hr>