<h1>Serie List</h1>
<hr>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Director</th>
			<th>Sinopsis</th>
		</tr>
	</thead>
	<tbody>
	<% @serie_all.each do |serie| %>
		<tr>
			<td><%= serie.id %></td>
			<td><%= serie.name %></td>
			<td><%= serie.director %></td>
			<td><%= serie.synopsis %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<hr>